.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
  }

.card-container {
    width: 20vw;
    margin-left: 30%;
    margin-bottom: 10%;
    height: 40vh;
    text-align: center;
    border-width: 5px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 12px rgba(49, 49, 49, 0.4);
    -moz-box-shadow: 0px 4px 12px rgba(49, 49, 49, 0.4);
    box-shadow: 0px 4px 12px rgba(49, 49, 49, 0.4);
    max-width: 50vw;
}

.card-container .content {
    padding: 10%;
}

.date-container {
    width: 50vw;
    height: 40vh;
    text-align: center;
    margin: 5% auto;
    padding: 5%;
    grid-column: 1/4;
}

.input {
    display: block;
    width: 50vw;
    height: 10vh;
    margin: 5% auto;
    font-size: 1.5em;
    border-radius: 20px;
}

.input::placeholder {
    padding: 2%;
}

.Submit {
    width: 30vw;
    height: 10vh;
    border-radius: 20px;
}